{% extends '../template.html'%}
{% load static %}
{% block content %}
<div class="container-xxl py-5 bg-primary hero-header">
    <div class="container my-5 py-5 px-lg-5">
        <div class="row g-5 py-5">
            <div class="col-12 text-center">
                <h1 class="text-white animated slideInDown">Tentang Saya</h1>
                <hr class="bg-white mx-auto mt-0" style="width: 90px;">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb justify-content-center">
                        <li class="breadcrumb-item"><a class="text-white" href="/">Beranda</a></li>
                        <li class="breadcrumb-item text-white active" aria-current="page">Tentang Saya</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
 <!-- About Start -->
 <div class="container-xxl py-5">
    <div class="container py-5 px-lg-5">
        <div class="row g-5 align-items-center">
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                <p class="section-title text-secondary">Tentang Saya<span></span></p>
                <h1 class="mb-5"># Biodata dan Keahlian</h1>
                <p class="mb-4">Assalammualaikum Wr.Wb, Perkenalkan nama saya Abdul Gani lulusan Strata Satu (S1) di bidang Manajemen Informatika pada tahun 1997 di STMIK Indonesia - Jakarta. Memiliki pengalaman kerja di bidang marketing spesifikasi khusus pengalaman di data pengalaman kerja dan saat ini bekerja di PT. Ryuu Industry Indonesia sebagai <b>Production Supporting Staff</b>. Saat ini saya memasarkan hasil produksi PT. Ryuu Industry Indonesia melalui web saya baik manufaktur atau kustom kebutuhan perusahaan pada mesin perusahaan masing - masing.</p>.
                <h3 class="mb-2">Pengalaman Kerja</h3>
                <hr>
                <div class="skill mb-4">
                    <div class="d-flex justify-content-between">
                        <p class="mb-2">Store Manager</p>
                        <p class="mb-2">2016 - 2017 (PT. Global Multipart)</p>
                    </div>
                   
                </div>
                <div class="skill mb-4">
                    <div class="d-flex justify-content-between">
                        <p class="mb-2">Accounting Manager</p>
                        <p class="mb-2">2012 - 2016 (PT. Cipta Pusaka Utama)</p>
                    </div>
                </div>
                <div class="skill mb-4">
                    <div class="d-flex justify-content-between">
                        <p class="mb-2">Supervisor HRD</p>
                        <p class="mb-2">2010 - 2011 (PT. Pucak Group)</p>
                    </div>
                </div>
                <h3 class="mb-2">Keahlian</h3>
                <hr>
                <div class="mb-4">
                    <div class="d-flex justify-content-between">
                        <p class="mb-2">Digital Marketing</p>
                    </div>
                    <div class="d-flex justify-content-between">
                        <p class="mb-2">Mekanik Mobil</p>
                    </div>
                    <div class="d-flex justify-content-between">
                        <p class="mb-2">Chef</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <img class="img-fluid wow zoomIn" data-wow-delay="0.5s" src="{% static 'img/about.png' %}">
            </div>
        </div>
    </div>
</div>
<!-- About End -->
{% endblock %}
